main {
  font-family: 'Merriweather', serif;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 1;
  margin-left: 0;
  margin-top: -1%;
  font-family: 'Roboto', sans-serif;
}

.nav-row {
  display: flex;
  justify-content: space-around;
  padding: 0;
  height: 70px;
  margin: 0;
  margin-left: 30%;
  margin-right: 30%;

}
.nav-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  /*border-style: solid;
  border-color: black;
  border-width: 1px;*/
  height: 70px;
}
.nav-item a {
  color: #2B2F26;
}
.nav-item a:hover {
  color: #CD5D67;
}
.nav-item a.active {
  color: #968772;
}
.home-logo {
  background-image: url("../images/bent-creek-logo.png");
  background-size: contain;
  height: 60px;
  width: 60px;
  float: left;
  margin-top: .5%;
  z-index: 1;
}
main {
  padding-top: 70px;
  width: 100%;
  background-image: url("../images/background-2.jpg");
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#sign_up {
  background-color: white;
  margin-left: 26%;
  margin-right: 26%;
  margin-top: 8%;
  margin-bottom: 21;
  width: 49%;
  height: 71%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#signup_h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0;
  font-weight: lighter;
}
#signup_h2 {
  text-align: center;
  margin: 0;
  font-weight: lighter;
}
#input_submit {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#input_submit input {
  font-size: 1.5em;
}
.input{
  width: 89%;
  margin-left: 5%;
  margin-right: 5%;
  height: 18%;
  margin-bottom: 0;
  height: 45%;
}
.input input {
  width: 100%;
  height: 48%;
  border: none;
  border-bottom: .1em solid #968772;
  color: #968772;
  margin-top: 1%;
}
.input input:focus {
  outline-width: 0;
  border: none;
  border-bottom: .1em solid #967343;
  color: #967343;

}
#submit_button {
  width: 22%;
  margin-left: 39%;
  margin-right: 39%;
  /*margin-top: 0;*/
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#submit_button input {
  background-color: #968772;
  width: 100%;
  height: 50%;
  border: none;
  color: white;
}
#submit_button input:hover {
  background-color: #FFFFFF;
  color: #968772;
}

footer {
  background-color: #323B31;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}
